body {
    text-align: center;
    background: #4eb9c7;
}

h2 {
    font-family: sans-serif;
    font-size: xx-large;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-screen {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 0 3em;
}

.character-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 3em;
}

.character-icon {
    height: 200px;
    width: 200px;
    background: #2e3d49;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 200ms;
    margin: 10px;
}

img {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {padding-bottom: 20px;}
    50%  {padding-bottom: 30px;}
    100% {padding-bottom: 20px;}
  }


progress {  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }
