body {
    text-align: center;
    background: #4eb9c7;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-screen {
    width: 660px;
    min-height: 680px;
    /* background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); */
    background-image: url("../images/Clouds.gif");
    background-size: cover; /* Resize the background image to cover the entire container */

    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 0 3em;
}

#character-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 0em;
}

.character-card {
    height: 200px;
    width: 200px;
    background: #2e3d49;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 200ms;
    margin: 10px;
}

img {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {padding-bottom: 20px;}
    50%  {padding-bottom: 30px;}
    100% {padding-bottom: 20px;}
  }

  .difficulty-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start-button { 
    font-size: x-large;
  }

progress {  
      border-radius: 2px; 
      width: 80%;
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  .start-game {
      background-color: rgb(69, 71, 71);
  }

  .hud-status {
      width: 80%;
      display: inline-block;
      align-content: center;
      justify-content: space-around;
  }